<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <!------------->
    <!-- Favicon -->
    <!------------->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#651fff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!------------>
    <!-- jQuery -->
    <!------------>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script>

    <!--------->
    <!-- CSS -->
    <!--------->
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div id="loader"></div>

    <div id="content">

        <!-- Navigation -->
        <%- include('navbar.ejs') %>



            <!-- Footer -->
            <%- include('footer.ejs') %>

    </div>

    <script type="text/javascript">
        $(function () {
            $(window).on("load", function () {
                $('#loader').fadeOut('slow', function () {
                    $(this).remove();
                });
            });
        });
    </script>

</body>

</html>